.selected {
  width: 100%;
  font-size: 0.8vw;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;
      height: 11vw;

      .item-img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 10vw !important;

        &__collect {
          position: relative;

          .collectioned {
            color: pink;
          }

          .iconfont {
            font-size: 1vw;
          }

          &__collection {
            position: absolute;
            right: 10px;
            top: 10px;
            color: rgb(248, 248, 248);
            cursor: pointer;
          }

          &__collection:hover+.img {
            transform: scale(1.05);
            border-radius: 10px;
          }

          img {
            width: 10vw !important;
            height: 10vw !important;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.5s;
          }

          img:hover {
            transform: scale(1.05);
            border-radius: 10px;
          }
        }
      }

      .item-name {
        width: 10vw !important;
        height: 2.5vw;
        text-align: left;
        font-weight: bold;
        margin-top: 0.8vw !important;
      }
    }
  }
}